# Instagram Data Report  

**Name:** Aubrey Nighman  
**Date:** September 8, 2025  

---

## Questions

**Source of your personal Instagram data:**  
Seeing as though I took actions to produce this data, that means I am the source. My likes, follows, re-posts, etc., were all up to me. However, Instagram has stored and collected my data so they could also be considered the source.   

**Why this data was created and what purposes does the data serve:**  
The data was created so Instagram could track my activity on their app, give me personal recommendations, and advertisements that I would want to see and buy. For me, it can help me analyze my behavior and interests over time. Instagram may have other uses for my data that I am unaware of but as far as I know they are using it to keep me on their app longer.   

**Reliability:**  
It records what I do on the app and the timestamp the actions are done.  

**Unreliability:**  
It does not include context (why I liked a post, or whether I unliked it later), there can even be missed things because not everything is always recorded (maybe unlikely but still possible).

## Section 2

In [1]:
# These are the imports 
import json
import pandas as pd
import matplotlib as plt

In [2]:
path = r"/Users/aubreynighman/Desktop/Data In EMAT/Instagram Data Report/liked_posts.json"
with open(path, "r") as l: 
    dict = json.load(l)

## Section 3
Convert the data into the DataFrame object and assign it to a new variable using pandas DataFrame function.

In [3]:
df = pd.DataFrame(dict)
df.head()

                                   likes_media_likes
0  {'title': 'kirinlewiss', 'string_list_data': [...
1  {'title': 'jax_gruska', 'string_list_data': [{...
2  {'title': 'kiley_annabel.d', 'string_list_data...
3  {'title': 'bennicholsvisuals', 'string_list_da...
4  {'title': 'natattackdump', 'string_list_data':...

In [4]:
dict.keys()

dict_keys(['likes_media_likes'])

In [5]:
df_tidy = pd.DataFrame(dict['likes_media_likes'])
df_tidy.head()

               title                                   string_list_data
0        kirinlewiss  [{'href': 'https://www.instagram.com/p/DNvdBQi...
1         jax_gruska  [{'href': 'https://www.instagram.com/p/DNtABgT...
2    kiley_annabel.d  [{'href': 'https://www.instagram.com/p/DNukJ7I...
3  bennicholsvisuals  [{'href': 'https://www.instagram.com/p/DNs6ch-...
4      natattackdump  [{'href': 'https://www.instagram.com/p/DNrXPhZ...

## Section 4

In [6]:
df_tidy['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/p/DNvdBQiWmoi/',
  'value': 'ð\x9f\x91\x8d',
  'timestamp': 1756122299}]

In [7]:
type(df_tidy['string_list_data'].iloc[0])

list

In [8]:
len(df_tidy['string_list_data'].iloc[0])

1

In [9]:
df_tidy['string_list_data'].iloc[0][0]['timestamp']

1756122299

In [10]:
df_tidy['Time of Like'] = [ i [0]['timestamp'] for i in df_tidy['string_list_data']]
df_tidy.head()

,title,string_list_data,Time of Like
0,kirinlewiss,[{'href': 'https://www.instagram.com/p/DNvdBQi...,1756122299
1,jax_gruska,[{'href': 'https://www.instagram.com/p/DNtABgT...,1756067851
2,kiley_annabel.d,[{'href': 'https://www.instagram.com/p/DNukJ7I...,1756034754
3,bennicholsvisuals,[{'href': 'https://www.instagram.com/p/DNs6ch-...,1755992493
4,natattackdump,[{'href': 'https://www.instagram.com/p/DNrXPhZ...,1755949995

In [11]:
# good to have
from datetime import datetime
df_tidy['Date of Like'] = [
    datetime.fromtimestamp(i[0]['timestamp']) for i in df_tidy['string_list_data']
]
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like
0,kirinlewiss,[{'href': 'https://www.instagram.com/p/DNvdBQi...,1756122299,2025-08-25 07:44:59
1,jax_gruska,[{'href': 'https://www.instagram.com/p/DNtABgT...,1756067851,2025-08-24 16:37:31
2,kiley_annabel.d,[{'href': 'https://www.instagram.com/p/DNukJ7I...,1756034754,2025-08-24 07:25:54
3,bennicholsvisuals,[{'href': 'https://www.instagram.com/p/DNs6ch-...,1755992493,2025-08-23 19:41:33
4,natattackdump,[{'href': 'https://www.instagram.com/p/DNrXPhZ...,1755949995,2025-08-23 07:53:15

In [12]:
df_tidy['href'] = [ i [0]['href'] for i in df_tidy['string_list_data']]
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href
0,kirinlewiss,[{'href': 'https://www.instagram.com/p/DNvdBQi...,1756122299,2025-08-25 07:44:59,https://www.instagram.com/p/DNvdBQiWmoi/
1,jax_gruska,[{'href': 'https://www.instagram.com/p/DNtABgT...,1756067851,2025-08-24 16:37:31,https://www.instagram.com/p/DNtABgT3KmU/
2,kiley_annabel.d,[{'href': 'https://www.instagram.com/p/DNukJ7I...,1756034754,2025-08-24 07:25:54,https://www.instagram.com/p/DNukJ7I2NYK/
3,bennicholsvisuals,[{'href': 'https://www.instagram.com/p/DNs6ch-...,1755992493,2025-08-23 19:41:33,https://www.instagram.com/p/DNs6ch-u9-D/
4,natattackdump,[{'href': 'https://www.instagram.com/p/DNrXPhZ...,1755949995,2025-08-23 07:53:15,https://www.instagram.com/p/DNrXPhZ2NPT/

In [13]:
df_tidy['value'] = [ i [0]['value'] for i in df_tidy['string_list_data']]
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href,value
0,kirinlewiss,[{'href': 'https://www.instagram.com/p/DNvdBQi...,1756122299,2025-08-25 07:44:59,https://www.instagram.com/p/DNvdBQiWmoi/,ð
1,jax_gruska,[{'href': 'https://www.instagram.com/p/DNtABgT...,1756067851,2025-08-24 16:37:31,https://www.instagram.com/p/DNtABgT3KmU/,ð
2,kiley_annabel.d,[{'href': 'https://www.instagram.com/p/DNukJ7I...,1756034754,2025-08-24 07:25:54,https://www.instagram.com/p/DNukJ7I2NYK/,ð
3,bennicholsvisuals,[{'href': 'https://www.instagram.com/p/DNs6ch-...,1755992493,2025-08-23 19:41:33,https://www.instagram.com/p/DNs6ch-u9-D/,ð
4,natattackdump,[{'href': 'https://www.instagram.com/p/DNrXPhZ...,1755949995,2025-08-23 07:53:15,https://www.instagram.com/p/DNrXPhZ2NPT/,ð

In [14]:
df_tidy.drop(columns=['string_list_data'], inplace=True)

## Section 5

In [15]:
df_tidy.groupby('Time of Like').count().sort_values('Date of Like', ascending=False)

              title  Date of Like  href  value
Time of Like
1724680378        1             1     1      1
1749014649        1             1     1      1
1749013895        1             1     1      1
1749013981        1             1     1      1
1749014039        1             1     1      1
...             ...           ...   ...    ...
1742745548        1             1     1      1
1742745614        1             1     1      1
1742745763        1             1     1      1
1742745805        1             1     1      1
1756122299        1             1     1      1

[948 rows x 4 columns]